
<body>
    <h2>Locations</h2>

    <div class="container" id="region">
        <div class="nav">
            <button class="region" id="btn2"><a href="/region/Limgrave">Limgrave</a></button>
            <button class="region" id="btn3"><a href="/region/Linuria">Linuria</a></button>
            <button class="region" id="btn4"><a href="/region/Caelid">Caelid</a></button>
            <button class="region" id="btn5"><a href="/region/Altus%20Plateau">Altus Plateau</a></button>
        </div>
        <div class="nav">
            <button class="region" id="btn6"><a href="/region/Mountaintops%20of%20Giants">Mountaintops of Giants</a></button>
            <button class="region" id="btn7"><a href="/region/Roundtable%20Hold">Roundtable Hold</a></button>
            <button class="region" id="btn8"><a href="/region/Siofra%20River">Siofra River</a></button>
        </div>
        <div class="nav">
            <button class="region" id="btn9"><a href="/region/Ainsel%20River">Ainsel River</a></button>
            <button class="region" id="btn10"><a href="/region/Farum%20Azula">Farum Azula</a></button>
            <button class="region" id="btn11"><a href="/region/Mohgwyn%20Palace">Mohgwhyn Palace</a></button>
            <button class="region" id="btn12"><a href="/region/Deeproot%20Depths">Deeproot Depths</a></button>
        </div>
    </div>